/* You can add global styles to this file, and also import other style files */
@import './assets/variables';

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  width: 100vw;
  height: 100vh;
}

input {
  background-color: inherit !important;
}

/* Sets 1 rem = 13.5px */
:root {
  font-size: 13.5px;
}
  
.lparen:before {
  content: '\2768';
}

.plus:before {
  content: '\FF0B';
}

.minus:before {
  content: '\FF0D';
}

.rparen:before {
  content: '\2769';
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Scrollbar stylings for webkit */
::-webkit-scrollbar {
  height: 0.3125rem;
  width: 0.3125rem;
  background-color: $primary-light;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0.3125rem;
  background-color: $primary-light;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3125rem;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $primary-gray;
}