.currency-info {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;

  .information {
    flex: 11;
    display: flex;
    flex-direction: column;

    .calculated {
      display: table;
      width: 100%;

      .curr-id {
        display: inline-block;
        width: 50px;
        vertical-align: middle;
      }

      .curr-value {
        display: inline-block;
        width: calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
      }
    }
  }

  .btn {
    flex: 1;
  }
}