#add-currency {
  word-break: breakword;
  white-space: normal;

  span {
    vertical-align: middle;
  }
}

#add-currency-form {
  display: flex;
  flex-wrap: wrap;

  select {
    flex: 8;
    max-width: 100%;
  }

  #submit-btn {
    flex: 2;
    margin: 2px;
  }
}